body{
	background: black;
}

div{
	background: rgb(0, 255, 255);
	height: 50vh;
	width: 300px;
}

.div1{
	background: rgb(255, 0, 255);
	height:400px;
	width: 50%;
}

#div2{
	background: rgb(255, 255, 0);
	height:40%;
	width: 500px;
}